/* ... (existing styles) */

header {
  background-color: black;
  color: gold;
  padding: 10px 0;
  text-align: center; /* Center the content */
  z-index: 3;
}

.about-section {
    color: gold;
    padding: 50px 0;
  }
  body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
  }
  
  .owner-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .owner-description {
    margin-top: 20px;
  }
  
  .owner-description h2 {
    font-size: 32px;
  }
  
  .owner-description p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  
  nav a {
    color: gold;
    margin-left: 20px;
    text-decoration: none;
  }
  .logo img {
    max-height: 50px;
    margin-right: 10px; /* Adjust margin as needed */
  }

.footer {
  background-color: black;
  color: gold;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-icons {
  font-size: 24px;
}

.social-icon {
  color: gold;
  margin: 0 10px;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}